<footer>
    <div class="footer-section">
        <div class="footer-section__info">
            <h4 class="footer-section__info__heading"><a href="/src/app/app.component.html"> <i class="bi bi-book-half"></i> BOOKHOME</a></h4>
            <ul class="footer-section__info__list">
                <li class="footer-section__info__list__item"><a href="#" class="footer-section__info__list__item__link">Contact</a></li>
                <li class="footer-section__info__list__item"><a href="#" class="footer-section__info__list__item__link">Find Us</a></li>
                <li class="footer-section__info__list__item"><a href="#" class="footer-section__info__list__item__link">Store Policy</a></li>
                <li class="footer-section__info__list__item"><a href="#" class="footer-section__info__list__item__link">FAQ</a></li>
                <li class="footer-section__info__list__item"><a href="#" class="footer-section__info__list__item__link">Payment Methods</a></li>
            </ul>
        </div>
        <div class="footer-section__comunicate">
            <h4 class="footer-section__comunicate__header">Sign up for our newsletter</h4>
            <input type="email" placeholder="Write your email here!" class="footer-section__comunicate__input">
            <button class="footer-section__comunicate__btn">Subscribe</button>
            <h4 class="footer-section__comunicate__header">Our Socials:</h4>
            <a href="https://www.instagram.com/yulyaska__/" class="footer-section__comunicate__links"><i class="bi bi-instagram"></i></a>
            <a href="youtube.com" class="footer-section__comunicate__links"><i class="bi bi-youtube"></i></a>
            <a href="facebook.com" class="footer-section__comunicate__links"><i class="bi bi-facebook"></i></a>
            <a href="https://web.telegram.org/k/" class="footer-section__comunicate__links"><i class="bi bi-telegram"></i></a>
        </div>
    </div>
    <p class="copyright">@2022-2023 Yuliia Prokipchuk</p>
</footer>