<header>
    <h1><a href="/src/app/app.component.html" class="homeLink"> <i class="bi bi-book-half"></i>BookHome</a></h1>
    <nav>
        <ul class="navigation">
            <li class="navigation__item"><a href="#" class="navigation__item__link"> Home</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item__link"> Books</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item__link"> About Us</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item__link"> Contact</a></li>
            <li class="navigation__item"><a href="#" class="navigation__item__link"> <i class="bi bi-cart4"></i></a>
            </li>
            <li class="navigation__item"><a href="#" class="navigation__item__link"> <i class="bi bi-person-circle"></i>
                    Log In</a></li>
        </ul>
    </nav>
</header>