<main>
    <section class="sale">
        <article class="sale__offer">
            <h2 class="sale__offer__header">Hot Sales!</h2>
            <p class="sale__offer__paragraph">Special offers for you. Discounts of up to 30% on all books of the KSD
                publishing house are valid until
                January 12, 2023. Buy now!</p>
            <a href="#" class="sale__offer__button">View more</a>
        </article>
        <img class="sale__bookspic"
            src="https://placeit-assets1.s3-accelerate.amazonaws.com/custom-pages/book-cover-maker/Book-Cover-Generator-with-Transparent-Background-o2jtzfj89rmaigho9txxxl8t13mdxlfs29kuid1zpc.png"
            alt="">
    </section>
    <section class="novelty">
        <div class="novelty__heading">
            <h2 class="novelty__heading__header">Novelty</h2>
            <div class="novelty__heading_controlls">
                <i class="bi bi-arrow-left-circle" (click)="moveLeft()"></i>
                <i class="bi bi-arrow-right-circle" (click)="moveRight()"></i>
            </div>
        </div>
        <article class="novelty__container">
            <div class="novelty__container__bookbox">
                <img src="https://book-ye.com.ua/upload/iblock/086/a647692b_f913_11e6_80c5_000c29ae1566_4822e5a8_c6b3_11ea_813b_000c29ae1566.jpg"
                    alt="" class="novelty__container__bookbox__pic">
                <span class="novelty__container__bookbox__title">The Witcher. 6. The Tower of the Swallow</span>
                <span class="novelty__container__bookbox__author">Andrzej Sapkowski</span>
                <div class="novelty__container__bookbox__price-container">
                    <span class="novelty__container__bookbox__price-container__price-tag">300 uah</span>
                    <div class="novelty__container__bookbox__price-container__buy-btn">
                        <a href="#" class="novelty__container__bookbox__price-container__buy-btn__link"><i
                                class="bi bi-cart4"></i> Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="novelty__container__bookbox">
                <img src="https://book-ye.com.ua/upload/iblock/2a5/7a5f8111_78c4_11e6_80be_000c29ae1566_97c6059e_6fbb_11e7_80ca_000c29ae1566.jpg"
                    alt="" class="novelty__container__bookbox__pic">
                <span class="novelty__container__bookbox__title">A Storm of Swords. Part 2: Blood and Gold</span>
                <span class="novelty__container__bookbox__author">George R. R. Martin</span>
                <div class="novelty__container__bookbox__price-container">
                    <span class="novelty__container__bookbox__price-container__price-tag">300 uah</span>
                    <div class="novelty__container__bookbox__price-container__buy-btn">
                        <a href="#" class="novelty__container__bookbox__price-container__buy-btn__link"><i
                                class="bi bi-cart4"></i> Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="novelty__container__bookbox">
                <img src="https://book-ye.com.ua/upload/iblock/bfa/cdd52478_7e44_11e6_80c0_000c29ae1566_09c186e4_59bb_11ec_815d_0050568ef5e6.jpg"
                    alt="" class="novelty__container__bookbox__pic">
                <span class="novelty__container__bookbox__title">The Shining</span>
                <span class="novelty__container__bookbox__author">Stephen King</span>
                <div class="novelty__container__bookbox__price-container">
                    <span class="novelty__container__bookbox__price-container__price-tag">300 uah</span>
                    <div class="novelty__container__bookbox__price-container__buy-btn">
                        <a href="#" class="novelty__container__bookbox__price-container__buy-btn__link"><i
                                class="bi bi-cart4"></i> Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="novelty__container__bookbox">
                <img src="https://book-ye.com.ua/upload/iblock/4cd/7d46405f_364a_11eb_8141_000c29ae1566_47de2d47_364c_11eb_8141_000c29ae1566.jpg"
                    alt="" class="novelty__container__bookbox__pic">
                <span class="novelty__container__bookbox__title">Cloud Atlas</span>
                <span class="novelty__container__bookbox__author">David Mitchell</span>
                <div class="novelty__container__bookbox__price-container">
                    <span class="novelty__container__bookbox__price-container__price-tag">300 uah</span>
                    <div class="novelty__container__bookbox__price-container__buy-btn">
                        <a href="#" class="novelty__container__bookbox__price-container__buy-btn__link"><i
                                class="bi bi-cart4"></i> Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="novelty__container__bookbox">
                <img src="https://book-ye.com.ua/upload/resize_cache/iblock/642/230_355_1/7ff56b5c_8e97_11e8_8100_000c29ae1566_dbac64d4_8e97_11e8_8100_000c29ae1566.jpg"
                    alt="" class="novelty__container__bookbox__pic">
                <span class="novelty__container__bookbox__title">A Street Cat Named Bob</span>
                <span class="novelty__container__bookbox__author">James Bowen</span>
                <div class="novelty__container__bookbox__price-container">
                    <span class="novelty__container__bookbox__price-container__price-tag">300 uah</span>
                    <div class="novelty__container__bookbox__price-container__buy-btn">
                        <a href="#" class="novelty__container__bookbox__price-container__buy-btn__link"><i
                                class="bi bi-cart4"></i> Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="novelty__container__bookbox">
                <img src="https://book-ye.com.ua/upload/resize_cache/iblock/1cf/230_355_1/91d420c6_c57d_11e9_811d_000c29ae1566_1c04aa86_1125_11ea_8124_000c29ae1566.jpg"
                    alt="" class="novelty__container__bookbox__pic">
                <span class="novelty__container__bookbox__title">Nine Perfect Strangers</span>
                <span class="novelty__container__bookbox__author">Liane Moriarty</span>
                <div class="novelty__container__bookbox__price-container">
                    <span class="novelty__container__bookbox__price-container__price-tag">300 uah</span>
                    <div class="novelty__container__bookbox__price-container__buy-btn">
                        <a href="#" class="novelty__container__bookbox__price-container__buy-btn__link"><i
                                class="bi bi-cart4"></i> Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="novelty__container__bookbox">
                <img src="https://book-ye.com.ua/upload/resize_cache/iblock/909/230_355_1/20cb26ef_960e_11e6_80c0_000c29ae1566_88024340_51a9_11eb_8144_000c29ae1566.jpg"
                    alt="" class="novelty__container__bookbox__pic">
                <span class="novelty__container__bookbox__title">The Green Mile</span>
                <span class="novelty__container__bookbox__author">Stephen King</span>
                <div class="novelty__container__bookbox__price-container">
                    <span class="novelty__container__bookbox__price-container__price-tag">300 uah</span>
                    <div class="novelty__container__bookbox__price-container__buy-btn">
                        <a href="#" class="novelty__container__bookbox__price-container__buy-btn__link"><i
                                class="bi bi-cart4"></i> Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="novelty__container__bookbox">
                <img src="https://book-ye.com.ua/upload/resize_cache/iblock/0f3/230_355_1/6a9ecdd6_e050_11e9_8121_000c29ae1566_cee6be9b_e050_11e9_8121_000c29ae1566.jpg"
                    alt="" class="novelty__container__bookbox__pic">
                <span class="novelty__container__bookbox__title">Unnatural Causes</span>
                <span class="novelty__container__bookbox__author">Dr Richard Shepherd</span>
                <div class="novelty__container__bookbox__price-container">
                    <span class="novelty__container__bookbox__price-container__price-tag">300 uah</span>
                    <div class="novelty__container__bookbox__price-container__buy-btn">
                        <a href="#" class="novelty__container__bookbox__price-container__buy-btn__link"><i
                                class="bi bi-cart4"></i> Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="novelty__container__bookbox">
                <img src="https://book-ye.com.ua/upload/resize_cache/iblock/f13/230_355_1/333b35e8_7a72_11e6_80be_000c29ae1566_750e59f0_c6b0_11ea_813b_000c29ae1566.jpg"
                    alt="" class="novelty__container__bookbox__pic">
                <span class="novelty__container__bookbox__title">The Witcher. 2. Sword of Destiny</span>
                <span class="novelty__container__bookbox__author">Andrzej Sapkowski</span>
                <div class="novelty__container__bookbox__price-container">
                    <span class="novelty__container__bookbox__price-container__price-tag">300 uah</span>
                    <div class="novelty__container__bookbox__price-container__buy-btn">
                        <a href="#" class="novelty__container__bookbox__price-container__buy-btn__link"><i
                                class="bi bi-cart4"></i> Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="novelty__container__bookbox">
                <img src="https://book-ye.com.ua/upload/resize_cache/iblock/da6/230_355_1/dbfb24ed_bee6_11ec_816d_0050568ef5e6_94932e7f_beef_11ec_816d_0050568ef5e6.jpg"
                    alt="" class="novelty__container__bookbox__pic">
                <span class="novelty__container__bookbox__title">The Ocean at the End of The Lane</span>
                <span class="novelty__container__bookbox__author">Neil Gaiman</span>
                <div class="novelty__container__bookbox__price-container">
                    <span class="novelty__container__bookbox__price-container__price-tag">300 uah</span>
                    <div class="novelty__container__bookbox__price-container__buy-btn">
                        <a href="#" class="novelty__container__bookbox__price-container__buy-btn__link"><i
                                class="bi bi-cart4"></i> Add to cart</a>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section class="benefits">
        <h2 class="benefits__header">Explore the world of your fantasies in our shop!</h2>
        <div class="benefits__container">
            <div class="benefits__container__box">
                <i class="bi bi-clock-fill"></i>
                <span class="benefits__container__box__text">The online store is open seven days a week from 9:00 a.m.
                    to 9:00 p.m</span>
            </div>
            <div class="benefits__container__box">
                <i class="bi bi-book-fill"></i>
                <span class="benefits__container__box__text">Books for every taste</span>
            </div>
            <div class="benefits__container__box">
                <i class="bi bi-percent"></i>
                <span class="benefits__container__box__text">Lots of promotions and discounts</span>
            </div>
            <div class="benefits__container__box">
                <i class="bi bi-truck"></i>
                <span class="benefits__container__box__text">The Fast and cheap delivery</span>
            </div>
        </div>
    </section>
</main>